<div id="container">
  <mat-card>
    <mat-card-title>Todos</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let todo of todos$ | async">
          <h4 matLine>
            <mat-checkbox
              [ngClass]="{'done': todo.isClosed}"
              [checked]="todo.isClosed"
              (change)="changeTodoState(todo)">
              {{ todo.title }}
            </mat-checkbox>

            <mat-icon [routerLink]="['todos', todo.id]" color="primary">info</mat-icon>
          </h4>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
